@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

:root {
  --light: #edf2f9;
  --dark: #152e4d;
  --darker: #12263f;
  /*  */
  --color-primary: var(--color-cyan);
  --color-primary-50: var(--color-cyan-50);
  --color-primary-100: var(--color-cyan-100);
  --color-primary-light: var(--color-cyan-light);
  --color-primary-lighter: var(--color-cyan-lighter);
  --color-primary-dark: var(--color-cyan-dark);
  --color-primary-darker: var(--color-cyan-darker);
  /*  */
  --color-green: #16a34a;
  --color-green-50: #f0fdf4;
  --color-green-100: #dcfce7;
  --color-green-light: #22c55e;
  --color-green-lighter: #4ade80;
  --color-green-dark: #15803d;
  --color-green-darker: #166534;
  /*  */
  --color-blue: #2563eb;
  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-light: #3b82f6;
  --color-blue-lighter: #60a5fa;
  --color-blue-dark: #1d4ed8;
  --color-blue-darker: #1e40af;
  /*  */
  --color-cyan: #0891b2;
  --color-cyan-50: #ecfeff;
  --color-cyan-100: #cffafe;
  --color-cyan-light: #06b6d4;
  --color-cyan-lighter: #22d3ee;
  --color-cyan-dark: #0e7490;
  --color-cyan-darker: #155e75;
  /*  */
  --color-teal: #0d9488;
  --color-teal-50: #f0fdfa;
  --color-teal-100: #ccfbf1;
  --color-teal-light: #14b8a6;
  --color-teal-lighter: #2dd4bf;
  --color-teal-dark: #0f766e;
  --color-teal-darker: #115e59;
  /*  */
  --color-fuchsia: #c026d3;
  --color-fuchsia-50: #fdf4ff;
  --color-fuchsia-100: #fae8ff;
  --color-fuchsia-light: #d946ef;
  --color-fuchsia-lighter: #e879f9;
  --color-fuchsia-dark: #a21caf;
  --color-fuchsia-darker: #86198f;
  /*  */
  --color-violet: #7c3aed;
  --color-violet-50: #f5f3ff;
  --color-violet-100: #ede9fe;
  --color-violet-light: #8b5cf6;
  --color-violet-lighter: #a78bfa;
  --color-violet-dark: #6d28d9;
  --color-violet-darker: #5b21b6;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #272e38;
}

main {
  margin-top: 70px;
  margin-left: 220px;
  margin-right: 10px;
  background-color: white;
  border-radius: 7px;
}

b {
  font-weight: bolder;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p {
  margin: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  /* line-height: 1.5; */
}

body {
  font-family: 'Roboto', sans-serif;
  /* line-height: inherit; */
}

* {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

a {
  color: inherit;
  text-decoration: inherit;
}

canvas {
  display: block;
  /* vertical-align: middle; */
}

.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.4rem * var(--tw-space-x-reverse));
  margin-left: calc(0.4rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 255, 0.022);
}

.bg-green-100 {
  --tw-bg-opacity: 1;
  background-color: #0022ff20;
}

.rounded-md {
  border-radius: 0.375rem;
}

.border-b {
  border-bottom-width: 1px;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-1 {
  flex: 1 1 0%;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.h-72 {
  height: 18rem;
}

.h-full {
  height: 100%;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.leading-none {
  line-height: 1;
}

.mt-2 {
  margin-top: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-px {
  padding-top: 1px;
  padding-bottom: 1px;
}

.relative {
  position: relative;
}

* {
  --tw-shadow: 0 0 #0000;
}

* {
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
}

.text-green-500 {
  --tw-text-opacity: 1;
  color: #6278FF;
}

.uppercase {
  text-transform: uppercase;
}

.tracking-wider {
  letter-spacing: 0.05em;
}

.gap-8 {
  gap: 2rem;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

@media (min-width: 1024px) {
  .lg\:space-y-0 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .lg\:static {
    position: static;
  }

  .lg\:gap-8 {
    gap: 2rem;
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .xl\:border-l {
    border-left-width: 1px;
  }

  .xl\:hidden {
    display: none;
  }

  .xl\:sticky {
    position: -webkit-sticky;
    position: sticky;
  }

  .xl\:z-0 {
    z-index: 0;
  }

  .xl\:grid-cols-4 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1536px) {
  .\32xl\:grid-cols-6 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

#FebOpratio_Chart {
    width: 100%;
    height: 350px;
}

#FebTr_Chart {
    width: 100%;
    height: 350px;
}

#FebCost_Chart {
    width: 100%;
    height: 350px;
}

#FebUsingratio_Chart {
    width: 100%;
    height: 100%;
}

#Costs_Tr_Chart {
    width: 100%;
    height: 100%;
}

#Costs_Usingratio_Chart {
    width: 100%;
    height: 100%;
}

.datepicker {
	display: none;
	border: 1px solid #4B60EB;
	border-radius: 3px;
	width: 80px;
	text-align: center;
	color: #93b7e3;
	height: 30px;
	font-size: 12px;
}

.custom-btn {
  width: 55px;
  height: 30px;
  color: #fff;
  border-radius: 5px;
  /* padding: 10px 25px; */
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
  box-shadow: 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
}

/* 1 */
.btn-1 {
  background: #4B60EB;
  border: none;
}
.btn-1:hover {
  background: #6278FF;
}

#energyCostIcon1,
#energyCostIcon2,
#energyCostIcon3,
#energyCostIcon4,
#energyCostIcon5,
#energyCostIcon6,
#energyCostIcon7,
#energyCostIcon8,
#energyCostIcon9 {
	height:30px;
	width:30px;
}

.date {
	display: flex;
	gap: 5px;
}