@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #272e38;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formContainer {
  background-color: #fff;
  max-width: 400px;
  width: 100%;
  padding: 50px;
  border-radius: 7px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.input-group {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.input-group2 {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  padding: 5px 0;
}

.idcheck {
  background: #4B60EB;
  color: white;
  padding: 0 30px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

input {
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ddd;
}

button {
  background: #4B60EB;
  padding: 10px 15px;
  font-size: 15px;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.main {
  margin-left: 80px;
}

button:hover {
  background-color: #6278FF;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 35px;
}
