@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

/* 바디 */
html, body {
    overflow-x: hidden;
    height: 100%;
}

body {
    background-color: #272e38;
    font-family: 'Roboto', sans-serif;
}

/* 이너 */
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-left: 220px;
    margin-right: 10px;
}

.mainInner {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    overflow-y: hidden;
}

.mainInner div {
    display: table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}

/* 배경 */
.cover {
    color: white;
    background-color: #272e38;
    position: relative;
    overflow: hidden;
    text-align: center;
    height: auto;
}

.cover-background {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
    z-index: 0;
    filter: brightness(0.5);
}

.cover_fullpage {
    height: 100vh;
}

.cover-background-video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    min-width: 100%;
    min-height: 100%;
}

.cover-inside {
    position: relative;
    z-index: 10;
    margin-top: 10px;
}

.lazy {
    opacity: 0;
}

.lazy-loaded {
    transition: opacity 1s;
    opacity: 1s;
}

.l_wrapper { 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 15px; 
} 

/* -------------------------------------------------------------------- */

.front { 
    text-align: center; 
    padding: 60px 0; 
    margin-top: 220px;
} 

.front-contents { 
    overflow: hidden;
} 

.front-slide { 
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 40px; 
    flex-wrap: wrap;
} 

.front-slide-item { 
    flex: 1; 
    padding: 0 15px; 
    box-sizing: border-box; 
    width: calc(50% -15px);
    margin-bottom: 40px;
    opacity: 0;
    transform: translateY(10%);
    transition: opacity 1s ease-out, transform 1s ease-out;
} 

/* 트랜지션 */
.front-slide-item.active {
    opacity: 1;
    transform: translateY(0);
}

.front-box { 
    border-radius: 4px; 
    box-sizing: border-box; 
    padding: 30px; 
} 

.front-box-cover { 
    width: 60px; 
    height: 60px; 
    margin-bottom: 20px; 
} 

.front-box h2 { 
    font-size: 32px; 
    margin-bottom: 10px; 
} 

.front-box p { 
    font-size: 16px; 
    color: rgb(175, 175, 175); 
    line-height: 1.5; 
}

@media (max-width: 992px) {
    .front-slide-item {
        width: calc(50% - 15px);
    }
}

@media (max-width: 768px) {
    .front-slide-item {
        width: 100%;
        margin-bottom: 70px;
    }
}